<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490339106774-1mjtd2qq8i33msa72f2e1j0br7ku20op.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490339106774-1mjtd2qq8i33msa72f2e1j0br7ku20op</string>
	<key>API_KEY</key>
	<string>AIzaSyAKSiKffz91PB7lSTb05d5vDw91ArL8Iuk</string>
	<key>GCM_SENDER_ID</key>
	<string>490339106774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Pursuit.InstagramLab</string>
	<key>PROJECT_ID</key>
	<string>pursuitgram-d62c3</string>
	<key>STORAGE_BUCKET</key>
	<string>pursuitgram-d62c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490339106774:ios:4936c83f43c6dda29eee77</string>
	<key>DATABASE_URL</key>
	<string>https://pursuitgram-d62c3.firebaseio.com</string>
</dict>
</plist>